.elementor-441 .elementor-element.elementor-element-f3ffa10 > .elementor-container {max-width: 800px;}
.elementor-441 .elementor-element.elementor-element-1342d39 .jet-animated-text {justify-content: center;}
.elementor-441 .elementor-element.elementor-element-1342d39 .jet-animated-text__before-text {font-family: "Assistant",Sans-serif;font-weight: 900;}
.elementor-441 .elementor-element.elementor-element-1342d39 .jet-animated-text__animated-text {font-family: "Assistant",Sans-serif;font-weight: bold;}
.elementor-441 .elementor-element.elementor-element-7d635f3 .elementor-spacer-inner {height: 20px;}
.elementor-441 .elementor-element.elementor-element-7f39bbd > .elementor-container {max-width: 800px;}
.elementor-441 .elementor-element.elementor-element-b8a4b05 .raven-image {opacity: 1;}
.elementor-441 .elementor-element.elementor-element-b8a4b05 {text-align: center;}
.elementor-441 .elementor-element.elementor-element-b8a4b05 > .elementor-widget-container {margin: -30px 0px 0px 0px;}
.elementor-441 .elementor-element.elementor-element-c8e86f3.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-441 .elementor-element.elementor-element-c8e86f3.elementor-column .elementor-column-wrap .elementor-widget-wrap {align-items: center;}
.elementor-441 .elementor-element.elementor-element-c8e86f3 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-441 .elementor-element.elementor-element-dc98835 .elementor-text-editor {text-align: left;}
.elementor-441 .elementor-element.elementor-element-dc98835 {color: #202020;font-family: "Assistant",Sans-serif;font-size: 15px;font-weight: normal;font-style: normal;line-height: 1.5em;}
.elementor-441 .elementor-element.elementor-element-68e66bb > .elementor-container {max-width: 800px;}
.elementor-441 .elementor-element.elementor-element-4d65ded .elementor-spacer-inner {height: 87px;}
.elementor-441 .elementor-element.elementor-element-0f18891 .elementor-text-editor {text-align: left;}
.elementor-441 .elementor-element.elementor-element-0f18891 {color: #202020;font-family: "Assistant",Sans-serif;font-size: 15px;font-weight: normal;font-style: normal;line-height: 1.5em;}
.elementor-441 .elementor-element.elementor-element-7828c85 .raven-image {opacity: 1;}
.elementor-441 .elementor-element.elementor-element-7828c85 {text-align: center;}
.elementor-441 .elementor-element.elementor-element-6ad2c8c .raven-image {max-width: 50%;opacity: 1;}
.elementor-441 .elementor-element.elementor-element-6ad2c8c {text-align: right;}
.elementor-441 .elementor-element.elementor-element-74cdf05 .raven-image {opacity: 1;}
.elementor-441 .elementor-element.elementor-element-74cdf05 {text-align: center;}
.elementor-441 .elementor-element.elementor-element-e4644fe .raven-image {opacity: 1;}
.elementor-441 .elementor-element.elementor-element-e4644fe {text-align: center;}
.elementor-441 .elementor-element.elementor-element-8f34570 .raven-image {opacity: 1;}
.elementor-441 .elementor-element.elementor-element-8f34570 {text-align: center;}
.elementor-441 .elementor-element.elementor-element-7bfb146 .raven-image {opacity: 1;}
.elementor-441 .elementor-element.elementor-element-7bfb146 {text-align: center;}
@media (min-width:768px) {.elementor-441 .elementor-element.elementor-element-eed808a {width: 50%;}
	.elementor-441 .elementor-element.elementor-element-c8e86f3 {width: 50%;}}