.elementor-397 .elementor-element.elementor-element-796e3ef > .elementor-container {max-width: 800px;}
.elementor-397 .elementor-element.elementor-element-a832236 .jet-animated-text {justify-content: center;}
.elementor-397 .elementor-element.elementor-element-c8e4e51 .elementor-spacer-inner {height: 20px;}
.elementor-397 .elementor-element.elementor-element-1f5ab28 > .elementor-container {max-width: 800px;}
.elementor-397 .elementor-element.elementor-element-29be04d .raven-image {opacity: 1;}
.elementor-397 .elementor-element.elementor-element-29be04d {text-align: center;}
.elementor-397 .elementor-element.elementor-element-d516e67 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-397 .elementor-element.elementor-element-2956dc7 .elementor-text-editor {text-align: left;}
.elementor-397 .elementor-element.elementor-element-2956dc7 {color: #202020;font-family: "Assistant",Sans-serif;font-size: 15px;font-weight: normal;font-style: normal;line-height: 1.5em;}
.elementor-397 .elementor-element.elementor-element-a6520f2 .elementor-spacer-inner {height: 87px;}
.elementor-397 .elementor-element.elementor-element-9691ddd > .elementor-container {max-width: 800px;}
.elementor-397 .elementor-element.elementor-element-e79c833 {text-align: center;}
.elementor-397 .elementor-element.elementor-element-e79c833 .elementor-image img {opacity: 1;filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);}
.elementor-397 .elementor-element.elementor-element-e79c833 > .elementor-widget-container {padding: 20px 20px 20px 20px;}
.elementor-397 .elementor-element.elementor-element-ae1b9cd .elementor-text-editor {text-align: left;}
.elementor-397 .elementor-element.elementor-element-ae1b9cd {color: #202020;font-size: 18px;font-weight: 600;}
.elementor-397 .elementor-element.elementor-element-2825c88 .elementor-text-editor {text-align: left;}
.elementor-397 .elementor-element.elementor-element-2825c88 {color: #7a7a7a;font-family: "Dosis",Sans-serif;font-size: 18px;font-weight: bold;font-style: normal;line-height: .4em;}
.elementor-397 .elementor-element.elementor-element-b418135 > .elementor-container {max-width: 800px;}
.elementor-397 .elementor-element.elementor-element-b1d89a9.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-397 .elementor-element.elementor-element-b1d89a9.elementor-column .elementor-column-wrap .elementor-widget-wrap {align-items: center;}
.elementor-397 .elementor-element.elementor-element-b1d89a9 > .elementor-element-populated {padding: 80px 80px 80px 80px;}
.elementor-397 .elementor-element.elementor-element-286ad78 > .elementor-widget-container {padding: 15px 15px 15px 15px;}
.elementor-397 .elementor-element.elementor-element-5340438 .raven-image {opacity: 1;}
.elementor-397 .elementor-element.elementor-element-5340438 {text-align: center;}
.elementor-397 .elementor-element.elementor-element-cdc3707 > .elementor-container {max-width: 800px;}
.elementor-397 .elementor-element.elementor-element-da715ab .raven-image {opacity: 1;}
.elementor-397 .elementor-element.elementor-element-da715ab {text-align: center;}
.elementor-397 .elementor-element.elementor-element-a31e2c5.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-397 .elementor-element.elementor-element-a31e2c5.elementor-column .elementor-column-wrap .elementor-widget-wrap {align-items: center;}
.elementor-397 .elementor-element.elementor-element-292a87b .raven-image {opacity: 1;}
.elementor-397 .elementor-element.elementor-element-292a87b {text-align: center;}
.elementor-397 .elementor-element.elementor-element-b50863e .raven-image {opacity: 1;}
.elementor-397 .elementor-element.elementor-element-b50863e {text-align: center;}
.elementor-397 .elementor-element.elementor-element-b50863e > .elementor-widget-container {margin: -100px 0px 0px 0px;}
.elementor-397 .elementor-element.elementor-element-b96b1b0 .raven-image {opacity: 1;}
.elementor-397 .elementor-element.elementor-element-b96b1b0 {text-align: center;}
.elementor-397 .elementor-element.elementor-element-b96b1b0 > .elementor-widget-container {margin: -100px 0px 0px 0px;}
.elementor-397 .elementor-element.elementor-element-64c1df2 .raven-image {opacity: 1;}
.elementor-397 .elementor-element.elementor-element-64c1df2 {text-align: center;}
.elementor-397 .elementor-element.elementor-element-64c1df2 > .elementor-widget-container {margin: -123px 0px 0px 0px;}
.elementor-397 .elementor-element.elementor-element-1007569 .elementor-spacer-inner {height: 50px;}
.elementor-397 .elementor-element.elementor-element-2e2c183 .elementor-text-editor {text-align: right;}
.elementor-397 .elementor-element.elementor-element-072f58f .elementor-spacer-inner {height: 50px;}
@media (min-width:768px) {.elementor-397 .elementor-element.elementor-element-4ba1ad1 {width: 50%;}
	.elementor-397 .elementor-element.elementor-element-d516e67 {width: 50%;}
	.elementor-397 .elementor-element.elementor-element-09b6052 {width: 50%;}
	.elementor-397 .elementor-element.elementor-element-f03b49e {width: 50%;}
	.elementor-397 .elementor-element.elementor-element-b1d89a9 {width: 41.25%;}
	.elementor-397 .elementor-element.elementor-element-ff5a7a7 {width: 58.75%;}
	.elementor-397 .elementor-element.elementor-element-f704f80 {width: 69.875%;}
	.elementor-397 .elementor-element.elementor-element-a31e2c5 {width: 30.063%;}}